.carta_0_1 {
  background: url(../imagens/baralho.png) 0px 0px;
  width: 60px;
  height: 80px;
}

.carta_0_2 {
  background: url(../imagens/baralho.png) -60px 0px;
  width: 60px;
  height: 80px;
}

.carta_0_3 {
  background: url(../imagens/baralho.png) -120px 0px;
  width: 60px;
  height: 80px;
}

.carta_0_4 {
  background: url(../imagens/baralho.png) -180px 0px;
  width: 60px;
  height: 80px;
}

.carta_0_5 {
  background: url(../imagens/baralho.png) -240px 0px;
  width: 60px;
  height: 80px;
}

.carta_0_6 {
  background: url(../imagens/baralho.png) -300px 0px;
  width: 60px;
  height: 80px;
}

.carta_0_7 {
  background: url(../imagens/baralho.png) -360px 0px;
  width: 60px;
  height: 80px;
}

.carta_0_8 {
  background: url(../imagens/baralho.png) -420px 0px;
  width: 60px;
  height: 80px;
}

.carta_0_9 {
  background: url(../imagens/baralho.png) -480px 0px;
  width: 60px;
  height: 80px;
}

.carta_0_10 {
  background: url(../imagens/baralho.png) -540px 0px;
  width: 60px;
  height: 80px;
}

.carta_0_11 {
  background: url(../imagens/baralho.png) -600px 0px;
  width: 60px;
  height: 80px;
}

.carta_0_12 {
  background: url(../imagens/baralho.png) -660px 0px;
  width: 60px;
  height: 80px;
}

.carta_0_13 {
  background: url(../imagens/baralho.png) -720px 0px;
  width: 60px;
  height: 80px;
}

.carta_1_1 {
  background: url(../imagens/baralho.png) -0px -80px;
  width: 60px;
  height: 80px;
}

.carta_1_2 {
  background: url(../imagens/baralho.png) -60px -80px;
  width: 60px;
  height: 80px;
}

.carta_1_3 {
  background: url(../imagens/baralho.png) -120px -80px;
  width: 60px;
  height: 80px;
}

.carta_1_4 {
  background: url(../imagens/baralho.png) -180px -80px;
  width: 60px;
  height: 80px;
}

.carta_1_5 {
  background: url(../imagens/baralho.png) -240px -80px;
  width: 60px;
  height: 80px;
}

.carta_1_6 {
  background: url(../imagens/baralho.png) -300px -80px;
  width: 60px;
  height: 80px;
}

.carta_1_7 {
  background: url(../imagens/baralho.png) -360px -80px;
  width: 60px;
  height: 80px;
}

.carta_1_8 {
  background: url(../imagens/baralho.png) -420px -80px;
  width: 60px;
  height: 80px;
}

.carta_1_9 {
  background: url(../imagens/baralho.png) -480px -80px;
  width: 60px;
  height: 80px;
}

.carta_1_10 {
  background: url(../imagens/baralho.png) -540px -80px;
  width: 60px;
  height: 80px;
}

.carta_1_11 {
  background: url(../imagens/baralho.png) -600px -80px;
  width: 60px;
  height: 80px;
}

.carta_1_12 {
  background: url(../imagens/baralho.png) -660px -80px;
  width: 60px;
  height: 80px;
}

.carta_1_13 {
  background: url(../imagens/baralho.png) -720px -80px;
  width: 60px;
  height: 80px;
}

.carta_2_1 {
  background: url(../imagens/baralho.png) -0px -160px;
  width: 60px;
  height: 80px;
}

.carta_2_2 {
  background: url(../imagens/baralho.png) -60px -160px;
  width: 60px;
  height: 80px;
}

.carta_2_3 {
  background: url(../imagens/baralho.png) -120px -160px;
  width: 60px;
  height: 80px;
}

.carta_2_4 {
  background: url(../imagens/baralho.png) -180px -160px;
  width: 60px;
  height: 80px;
}

.carta_2_5 {
  background: url(../imagens/baralho.png) -240px -160px;
  width: 60px;
  height: 80px;
}

.carta_2_6 {
  background: url(../imagens/baralho.png) -300px -160px;
  width: 60px;
  height: 80px;
}

.carta_2_7 {
  background: url(../imagens/baralho.png) -360px -160px;
  width: 60px;
  height: 80px;
}

.carta_2_8 {
  background: url(../imagens/baralho.png) -420px -160px;
  width: 60px;
  height: 80px;
}

.carta_2_9 {
  background: url(../imagens/baralho.png) -480px -160px;
  width: 60px;
  height: 80px;
}

.carta_2_10 {
  background: url(../imagens/baralho.png) -540px -160px;
  width: 60px;
  height: 80px;
}

.carta_2_11 {
  background: url(../imagens/baralho.png) -600px -160px;
  width: 60px;
  height: 80px;
}

.carta_2_12 {
  background: url(../imagens/baralho.png) -660px -160px;
  width: 60px;
  height: 80px;
}

.carta_2_13 {
  background: url(../imagens/baralho.png) -720px -160px;
  width: 60px;
  height: 80px;
}

.carta_3_1 {
  background: url(../imagens/baralho.png) -0px -240px;
  width: 60px;
  height: 80px;
}

.carta_3_2 {
  background: url(../imagens/baralho.png) -60px -240px;
  width: 60px;
  height: 80px;
}

.carta_3_3 {
  background: url(../imagens/baralho.png) -120px -240px;
  width: 60px;
  height: 80px;
}

.carta_3_4 {
  background: url(../imagens/baralho.png) -180px -240px;
  width: 60px;
  height: 80px;
}

.carta_3_5 {
  background: url(../imagens/baralho.png) -240px -240px;
  width: 60px;
  height: 80px;
}

.carta_3_6 {
  background: url(../imagens/baralho.png) -300px -240px;
  width: 60px;
  height: 80px;
}

.carta_3_7 {
  background: url(../imagens/baralho.png) -360px -240px;
  width: 60px;
  height: 80px;
}

.carta_3_8 {
  background: url(../imagens/baralho.png) -420px -240px;
  width: 60px;
  height: 80px;
}

.carta_3_9 {
  background: url(../imagens/baralho.png) -480px -240px;
  width: 60px;
  height: 80px;
}

.carta_3_10 {
  background: url(../imagens/baralho.png) -540px -240px;
  width: 60px;
  height: 80px;
}

.carta_3_11 {
  background: url(../imagens/baralho.png) -600px -240px;
  width: 60px;
  height: 80px;
}

.carta_3_12 {
  background: url(../imagens/baralho.png) -660px -240px;
  width: 60px;
  height: 80px;
}

.carta_3_13 {
  background: url(../imagens/baralho.png) -720px -240px;
  width: 60px;
  height: 80px;
}